<section class="py-2">
    <div class="row">
        <div class="col-md-6 text-center">
            <h1 class="display-3 mt-3 pt-5">Game of thrones book</h1>
            <p class="lead">Read what really happened in game of thrones</p>
            <form action="/charge" method="POST">
                <script
                    src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                    data-key={{stripePublishableKey}}
                    data-amount="2500"
                    data-name="Game of thrones"
                    data-description="Written by Geogre Martin"
                    data-image="/img/marketplace.jpg"
                    data-locale="auto"
                    data-zip-code="true"
                    data-currency="eur">
                </script>
                <script>
                    //Hide default btn 
                    document.getElementsByClassName('stripe-button-el')[0].style.display='none';
                </script>
                <button type="submit" class="btn btn-outline-dark text-white btn-lg">Purchase</button>
            </form>
        </div>
        <div class="col-md-6 mt-3 pl-5 pt-5">
            <img src="/img/GOT.jpg" alt="bookIMG" class="img-fluid">
        </div>
    </div>
</section>